.aaaa{
    background-color: black;
    color: white;

    
    
}
.ppp{
    block-size: 50px;
    color: burlywood;
    
}
.information {
    color:white;
}
.littleblack-word {
    color: white;
}


.tyu {
    color: white;

}



