.aaaa {
    background-color: black;
<<<<<<< HEAD
    color: white;

    
    
}
.ppp{
    block-size: 50px;
    color: burlywood;
    
}
.information {
    color:white;
}
.littleblack-word {
    color: white;
}


.tyu {
    color: white;

=======
>>>>>>> 3b4d85d15f9d27ac4e2e3f1e2ca6855de92efd68
}



<<<<<<< HEAD
=======

>>>>>>> 3b4d85d15f9d27ac4e2e3f1e2ca6855de92efd68
